p {
  font-size: 14px;
  line-height: 10px;
  font-weight: 200;
}

.selection {
  border: 1px solid #e2e1e1;
  margin: 3px;
}

.selection:focus {
  outline: none;
  border: 1px solid #17aa1c;
  background-color: white;
}

.text-align-top {
  margin-top: 10px;
}
.text-align-left {
  margin-left: 5px;
}

.book-mark {
  margin-top: 10px;
  color: #e2e1e1;
}
.book-mark:hover {
  color: #17aa1c;
}